<ion-header>
  <ion-toolbar>
    <ion-title>Giriş Yap</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <div class="login-container">
    <div class="logo-section">
      <div class="logo-title">
        AN MEKANİK
      </div>
    </div>

    <div class="form-section">
      <ion-item lines="none" class="input-item">
        <ion-input label="E-mail" type="email" placeholder="abc@gmail.com" [(ngModel)] = email></ion-input>
      </ion-item>
  
      <ion-item lines="none" class="input-item">
        <ion-input type="password" label="Parola" placeholder="********" [(ngModel)] = password>
          <ion-input-password-toggle slot="end"></ion-input-password-toggle>
        </ion-input>
      </ion-item>

      <ion-button (click)="login()" expand="block" class="login-button">
        Devam
      </ion-button>

      <ion-button (click)="routeRegister()" expand="block" fill="clear" class="register-button">
        Bir hesabın yokmu ?
      </ion-button>
    </div>
  </div>
</ion-content>